DB_PATH=data.db
FOREX_PAIRS=EURUSD,GBPUSD,USDJPY
POLLING_SECONDS=20
HISTORY_POINTS=180
MIN_SIGNAL_GAP_SECONDS=60
DEFAULT_TIMEFRAME=1m
DEFAULT_EXPIRY_MINUTES=5
BROKER_WEBHOOK_URL=
BROKER_AUTH_TOKEN=
BROKER_DISPATCH_TIMEOUT_SECONDS=10
